body {
    background-color: rgb(184, 181, 13);
    font-family: monospace, Impact;
    padding: 20px;
    line-height: 1.0;
}

.header {
    background-color: #0000FF; /* Azul de fundo */
    padding: 20px; /* Espaço ao redor do título */
    border-radius: 10px; /* Bordas arredondadas (opcional) */
    text-align: center; /* Centraliza o conteúdo dentro da div */
    margin-bottom: 20px; /* Espaço abaixo da div do cabeçalho */
}

#question-container div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 20px;
}

h1 { /* Título do Cabeçalho */
    color: #14f000;
    font-size: 60px;
    font-weight: 1500; 
    min-height: 20vh;
    text-align: center;
}

label {
    display: block; /* Faz cada resposta aparecer em uma nova linha */
    margin-bottom: 5px; /* Adiciona espaço entre as respostas */
    text-align: left; /* Alinha as respostas à esquerda */
    padding-left: 1px; /* Opcional: pode adicionar um padding para afastar as opções da borda esquerda */
}

input[type="radio"] {
    margin-right: 10px; /* Espaço entre o radio button e o texto da resposta */
}
